<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.LogAndRegDao">

    <!--用户登录-->
        <select id="userLogin" resultType="com.entity.Customer">
            select customer_id, customer_name, customer_pwd, customer_phone, customer_address, customer_email, customer_type  from customer
            where customer_name = #{CustomerName} and customer_pwd = #{CustomerPwd}
        </select>
    <!--用户注册-->
        <insert id="userRegist">
            insert into customer(customer_name, customer_pwd, customer_phone, customer_address, customer_email, customer_type)
            values (#{CustomerName},#{CustomerPwd},#{CustomerPhone},#{CustomerAddress},#{CustomerEmail},#{CustomerType})
        </insert>
</mapper>
